aiosqlite==0.17.0
async-lru==1.0.2
certifi==2021.5.30
chardet==4.0.0
hentai==3.2.7
idna==2.10
meval==2.5
pyaes==1.6.1
git+https://github.com/AmanoTeam/pyrogram.git
PySocks==1.7.1
requests==2.25.1
TgCrypto==1.2.2
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.6
